.viewunique:hover{
background-color: #ffe100;
transition:all .3s ease-in-out
}
	.demo {
		border-collapse:collapse;
		padding:5px;
        width: 100%;
	}

	.demo th {
		padding:5px;
		background:#f00000;
    width: 25%;
		color:white
	}
	.demo td {
		padding:2px;
        width: 25%;
	}
    .btn {
        display: flex;
    }