.Cards-home{
    display: flex;
    flex: 1 1;
    justify-content: space-evenly;
    align-items: center ;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    
}