.home-container::-webkit-scrollbar{
        display: none;
    }
.burgers{
    text-decoration: underline;
    font-weight: bold;
    font-size: 45px;
}
.premium{
    font-weight: bold;
    font-size: 45px;
}

 @media (min-width: 768px) and (max-width: 1023.98px){
    .app-gallery{
        padding: 30px;
    }
}
  
@media (max-width: 767.98px){
    .app-gallery{
        padding: 10px;
    }
  }
