@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Combo&family=Oswald:wght@200;400&family=Paytone+One&family=Permanent+Marker&family=Rampart+One&family=Source+Sans+Pro:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.loginbutton{
    text-decoration: none !important
}

.app-landing{
 background-color: var(--dark-red);
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 height: 44vw;
}
.app-wrapper-info{
    padding-right: 40px;
    padding-left: 80px;
}
.h1-landing{
    color: white;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 140px;
    line-height: 60%;
    font-family: 'Rampart One';
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 70px;
}
.h3-landing{
    color: white;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 90px;
    padding-top: 0;
    font-weight: bold;
    padding-bottom: 4px;
}
.h3-icon{
    font-size: 75px;
    line-height: 80%;
    
}
.h4-landing{
    font-weight: bold;
    font-size: 40px;
}

.p-landing{
    margin-top: 0px;
}

.app-wrapper-img img{
    width: calc(100% - 20px);
    height: calc(115% - 20px);
    margin: 10px;
    border-radius: 24px 0;

}
.bordes-img{
    margin: 5px auto;
    background-image: linear-gradient(#FFC917, #FFC917),
                    linear-gradient(#FFC917, #FFC917),
                    linear-gradient(#FFC917, #FFC917),
                    linear-gradient(#FFC917,#FFC917);           
    background-repeat: no-repeat;
    background-size: 70px 38%, 70% 10px, 70px 50%, 70% 10px, calc(75% - 20px) calc(75% - 20px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
}

@media (max-width: 767.98px) {
    .bordes-img{
        display: none !important;
    }
    .app-landing{
        height: 85vh !important;
        background-image: url(./assets/images/background-moviles.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
    }
    .app-landing-h1{
        font-size: 10vh!important;
    }
    .h3-landing{
        font-size: 5vh!important; 
    }
    .h3-icon{
        height: 7vh!important;
    }
    .h4-landing,.p-landing{
        display: none !important;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023.98px) {
    .bordes-img{
        display: none !important;
    }
    .app-landing{
        height: 85vh !important;
        background-image: url(./assets/images/background-moviles.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
    }
  }