.background-request {
  background-color: #8c0000;
}

.requests {
  font-family: "Bebas Neue", cursive;
  word-break: normal;
}

.card-img-top {
  text-decoration: underline;
  font-weight: bold;
  font-size: 45px;
}

@media (max-width: 767.98px) {
  .requests {
    width: 80%;
  }
  .card-request {
    width: 90%;
  }
  .description-card {
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .requests {
    width: 30%;
  }
  .card-request {
    width: 90%;
  }
}
