.background-request{
  background-color: #8C0000;
}

.requests{
  font-family: 'Bebas Neue', cursive;
}

.card-img-top{
  text-decoration: underline;
    font-weight: bold;
    font-size: 45px;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .card-request{
    width: 35% !important;
  }
}

@media (max-width: 767.98px) {
  .request{
    width: 100vh !important;
  }
  .request-movile{
    width: 100vh;
    display: flex;
    flex-direction: column-reverse !important;
  }
}