.header-height{
    height: 50px;
    font-family: 'Bebas Neue', cursive;
}
.logo-toggle{
    font-size: 25px;
}
@media screen and (min-device-width:360px) and (max-device-width:480px){
    .logo-toggle{
        font-size: 23px;
    }
}