.requests{
  font-family: 'Bebas Neue', cursive;
}

.card-img-top{
  text-decoration: underline;
    font-weight: bold;
    font-size: 45px;
}

@media (min-width: 768px) and (max-width: 991.98px){
  .card-request{
    width: 35% !important;
  }
}

@media (max-width: 767.98px) {
  .card-pedidos{
    width: 40% !important;
  }
}